<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements Form</title>
    <link rel="stylesheet" href="static/css/styless.css">
</head>
<body>
    <div class="container">
        <div class="progress-bar">
            <div class="step" onclick="navigateTo('domain.html')">1</div>
            <div class="step" onclick="navigateTo('categories.html')">2</div>
            <div class="step" onclick="navigateTo('platform.html')">3</div>
            <div class="step" onclick="navigateTo('functional.html')">4</div>
            <div class="step" onclick="navigateTo('nonfunctional.html')">5</div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <script src="static/js/script.js"></script>
</body>
</html>
